.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 12px;
}
.button button {
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.button button:hover {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
